:root {
  --white-color: #fff;
  --sec-5-color: #141414;
  --black-color: #000;
  --btn-color: #26c7ea;
  --btn-bg-color: #0b0e66;
  --btn-text-color: #26c6ea;
  --sec-2-title-color: #0a3853;
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}
body {
  margin: 0 auto;
  max-width: 1440px;

  font-size: 20px;
  font-family: var(--font-family);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1032px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */

.header {
  display: flex;
  align-items: center;

  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 205px;
  padding-right: 50px;
  border-bottom: 3px solid var(--white-color);

  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url("../img/header-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  column-gap: 38px;
}
.menu-link {
  font-weight: 300;
  text-align: center;
  color: var(--white-color);
}
.menu-link:hover {
  font-weight: 600;
  color: #94cfff;
}
.log-in-button {
  width: 141px;
  height: 41px;

  border: 2px solid var(--btn-color);
  border-radius: 35px 0;
  padding-left: 37px;
  padding-right: 36px;
  padding-top: 9px;
  padding-bottom: 9px;

  font-family: var(--second-family);
  font-weight: 400;
  text-align: justify;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
}
.switcher-wrap {
  display: flex;
  align-items: center;

  width: 107px;
  height: 20px;
}
.span-lan {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--white-color);
}
.span-link {
  margin-left: 10px;
  margin-right: 10px;
}

/* Main */

.hero {
  width: 1440px;
  height: 740px;

  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 180px;

  background-image: url("../img/section1-background-min.png");
  background-repeat: no-repeat;
}
.hero-title {
  display: none;
}
.hero-position {
  display: flex;
  justify-content: space-between;
}
.hero-content {
  width: 281px;

  font-weight: 400;
  color: var(--white-color);
}
.deko-arow {
  width: 152px;
  height: 40px;

  margin: 0 auto;

  background-image: url("../img/section1-pfeil-links-weiß.png");
}
.hero-button {
  width: 260px;
  height: 80px;

  margin-top: 42px;
  border: 3px solid var(--btn-color);
  border-radius: 45px 0;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--btn-color);
  text-align: center;
  background-color: var(--btn-bg-color);
}
.social-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  width: 50px;
  height: 141px;

  margin-top: 120px;
}
.quote {
  height: 350px;
  padding-top: 75px;

  background-image: url("../img/section2-img.png");
  background-repeat: no-repeat;
  background-position: 520px 220px;
  text-align: center;
}
.quote-title {
  display: none;
}
.quote-text {
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: var(--sec-2-title-color);
}
.quote-name {
  padding-top: 16px;
  padding-bottom: 8px;

  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--black-color);
}
.trailer {
  width: 1440px;
  height: 741px;

  margin: 0 auto;
  padding-top: 330px;
  padding-bottom: 330px;

  background-image: url("../img/section3-background-min.png");
}
.trailer-title {
  display: none;
}
.trailer-button {
  display: block;

  width: 260px;
  height: 80px;
  margin: 0 auto;
  padding-top: 25px;

  border: 3px solid var(--btn-color);
  border-radius: 45px 0;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--btn-color);
  background: var(--btn-bg-color);
}
.language {
  width: 1440px;
  height: 704px;

  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url("../img/section5-background-img.png");
}
.language-title {
  margin-bottom: 45px;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--sec-5-color);
  text-align: center;
}
.language-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 24px;
}
.language-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 2 * 36px) / 3);
  justify-content: space-between;

  height: 240px;
  padding-top: 36px;
  padding-bottom: 36px;

  background: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
  background-position: center;
}
.language-item:nth-child(1),
.language-item:nth-child(4) {
  background-image: url("../img/section5-pfeil-links-min.png");
}
.language-item:nth-child(2),
.language-item:nth-child(5) {
  background-image: url("../img/section2-img.png");
  background-size: 152px 40px;
}
.language-item:nth-child(3),
.language-item:nth-child(6) {
  background-image: url("../img/section5-pfeil-rechts-min.png");
}
.language-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: var(--sec-5-color);
}

/* Footer */

.footer {
  width: 1440px;
  padding-top: 35px;
  padding-bottom: 25px;

  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  display: contents;
}
.footer-logo::after {
  content: "";
  display: inline-block;

  width: 2px;
  height: 153px;

  background-color: white;
}
.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.contact-item {
  display: flex;
  justify-content: space-between;

  width: 665px;

  background-image: url("../img/Dashline_1.png");
  background-position: 130px;
  background-repeat: no-repeat;
}
.contact-item:last-child {
  justify-content: space-between;

  width: 690px;

  background-image: url("../img/Dashline_2.png");
  background-position: 200px;
}
.contact-text {
  width: 182px;

  font-weight: 400;
  text-align: justify;
  color: var(--white-color);
}
.contact-link {
  font-weight: 400;
  text-align: justify;
  color: var(--white-color);
}
.confidantional {
  margin-left: 474px;

  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  color: var(--white-color);
}